body {
    background-image: url(/images/background-ausbildung.jpg);
    /*This photo needs to cover the full page! without repeat!*/
}

header {
    text-align: center;
}

main {
    background-color: bisque;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}